<h1>校則 変更掲示板</h1>

<div class="button-container">
  <!-- "新しい投稿" ボタンを表示し、新規投稿ページへのリンクを作成します -->
  <%= link_to "校則変更案", new_post_path, class: "link-button" %>
  <%= link_to "自分の投稿", my_posts_path, class: "link-button" %>
</div>

<ul>
  <!-- @posts 変数から取得した各記事に対してループ処理を行います -->
  <% @posts.each do |post| %>
    <li>
    <p>投稿者: <%= post.user.name %></p>
      <h2><%= post.title %></h2>
    <p><%= post.content %></p>
    <p><%= post.category %></p>
    <p><%= post.id %></p>
      <span>
        <small><%= post.created_at %></small>
      </span>
      <div class="edit-delete-wrapper" >
        <!-- 編集ボタンを表示し、対応する記事の編集ページへのリンクを作成します -->
        <%= link_to "編集", edit_post_path(post), class: "link-button" %>
        <!-- 削除ボタンを表示し、対応する記事を削除するためのフォームを作成します -->
        <%= button_to "削除", post_path(post), method: :delete, class: "link-delete-button" %>
      </div>

    
     <% begin %>
        <% if post.favorited?(current_user) %>
          <!-- 一致するレコードが存在する＝すでにいいね済みの場合はdestroyアクションへ -->
          <%= button_to post_favorite_path(post, post.favorites.find_by(user: current_user)), method: :delete do %>
          <span style="color:red;">❤︎</span><%= post.favorites.count %>
          <% end %>
        <% else %>
          <!-- 一致するレコードが存在しない＝まだいいねしていない場合はcreateアクションへ -->
          <%= button_to post_favorites_path(post), method: :post do %>
            <span>❤︎</span><%= post.favorites.count %>
          <% end %>
        <% end %>
      <% rescue NoMethodError => e %>
        <p>エラーが発生しました: <%= e.message %></p>
      <% end %>

    </li>
  <% end %>
</ul>

<% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
  <!-- ユーザーがログインしていた時の処理 -->

    <h2> 現在 <%= current_user.name %> さんがログインしています </h2> <!-- ここを追加します -->
    <h4> メールアドレス： <%= current_user.email %> </h4>
    <h4> 学年： <%= current_user.age %> </h4>
    <h4> 性別： <%= current_user.gender %> </h4>
     <h4> id: <%= current_user.id %> </h4>
    
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- ログアウトをする -->
<% else %>
  <!-- ユーザーがログインしていなかった時の処理 -->
  <h2> 現在ログインしていません </h2>
  <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
  <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
<% end %>

<%= line_chart @chart_data.group_by { |data| data[:age] }.transform_values { |values| values.group_by { |v| v[:category] }.transform_values { |v| v.sum { |d| d[:count] } } } %>
<h1>校則 変更掲示板</h1>